/*Importa fonte do google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&display=swap');

/*Reset*/

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style-type: none; /*retira as bolinhas dos elementos*/
}

body, button, input{
    font: 400 22px "Roboto" , sans-serif;
}

/*Criação de Variaveis no root do CSS*/

 :root{
 --blue: #000088;
 --gray:#555555;
 --skyblue:#00BFFF;
 --sliver:#c0c0c0;
 --red:#ff0000;
 --white:#ffffff;
 --darkgray:#959595;
}

/*Header*/

.main-header{
    background-image: url(background-image.png); /*Adiciona imagem no fundo*/
    background-position: 50% 39%; /*Alinha os elementos nos eixos x e y*/
   display: flex; /*colocar elementos centralizados*/
   flex-direction: column;/*alinha s elementos um embaixo do outro*/
   align-items: center;/*centralizar os elementos*/
}

.main-nav{
    width: 100%; /*Ocupar toda area disponivel*/
   }

.header-list-container{
 display: flex; /*colocar os elementos na mesma linha*/
 justify-content: space-between; /*adiciona espaçamento entre os itens*/
 align-items: center; /*garantir que fiquem alinhados na mesma linha*/
 padding: 16px 0; /*primeiro é cima e baixo, segundo esquerda e direita*/
}

.nav-item{
    text-transform: uppercase; /*deixar todas as letras em maiusculo*/
    color:blue;
}

hr{
    width: 100%; /*ocupar toda a area disponivel*/
}

.nav-item a {
    text-decoration: none; /*remove o underline do ancora*/
    color: inherit; /*herda a cor do elemento pai  (neste caso é o va-item)*/
}

.nav-item:hover{
    color: white;
    transition: 0.2s;
}

.main-about{
    padding: 40px 6px 64px;
}

.container{
   max-width: 600px; 
   padding: 0 16px;
   margin: 0 auto;
}

.title-median{
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.about-image{
    float: left; /*alinha a imagem esquerda e o texto a direita*/
    margin: 0 20px 10px 0; /* 0 topo, 20 direita, 10 baixo 0 esquerda*/
    /*diminuir o tamanho das imagens*/
    width: 200px; /*largura*/
    height: auto; /*evita a distoçao da imagem*/
}

.about-description{
    color: var(--gray); /*utiliza variavel de cor criado no root*/
    text-align: justify; /*justifica o texto*/
}

/*footer*/

.main-footer{
    background-color: var(--skyblue); /*aplicar cor no fundo do rodape*/
    padding: 15px 0;
}

.main-footer-container{
    display: flex; /*deixar tudo  na mesma linha*/
    align-items: center; /*alinha todos os elementos*/
    justify-content: space-between; /*colar nome de um lado e lista de icones do outro*/
}

.title-smaller{
    font-family: "Raleway",sans-serif; /*pegar a fonte importada*/
    color: var(--blue);
    font-size: 26px;
}

.list-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-item{
    width: 50px;
    height: 50px;
    padding: 15px 0;    
}

.footer-item + .footer-item{
    margin-left: 16px;
}

.contact-text{
   text-align: center; 
   margin-bottom: 30px;
   font-size: 28px;
   color: var(--gray)
}

.contact{
    background-color: var(--skyblue);
    padding: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.contact-label{
    display: block;
    margin-bottom: 20px;
    color: var(--blue);

}

.contact-field{
    display: block;
    width: 100%;
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
    border: none;
}

.contact-field:focus{
    background-color: var(--sliver);
    outline: none;
}

textarea.contact-field{
    height: 150px;
    padding: 10px;
    font-family: Calibri;
}

.button-form{
    background-color: var(--blue);
    color: var(--white);
    border: 2px solid var(--blue);
    border-radius: 10px;
    padding: 2px 6px;
    font-weight: bold;
    cursor: pointer;
}

.button-form:hover{
    background-color: var(--white);
    color: var(--blue);
}

.contact-maps{
    width: 600px;
    margin-right:auto ;
    margin-left: auto;
    padding-bottom: 20px;
}


.title-header{
   font-family: "Madimi One", cursive;  
   color: var(--blue); 
   font-size: 38px; 
   padding-bottom: 10px;
}

.title-large{
    font-family: "Rock Salt",cursive;
    font-size: 38px;
    color: var(--blue);
    text-align: center;
}

.description{
    text-align: center;
    color: var(--gray);
    padding-bottom: 10px;
}

.emphasis{
    background-color: var(--skyblue);
    color: var(--blue);
    border-radius: 25px ;
}

.product-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    padding-bottom: 30px;
}

.product{
    display: flex; /*colocar todos na mesma linha*/
    flex-direction: column; /*alinhar em coluna, um embaixo do outro*/
    align-items: center;
}

.product-title{
    font-size: 20px;
    margin-bottom: 6px;
}

.product-image{
    width: 320px;
    height: 220px;
    margin-bottom: 20px;
}

.product-price-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.product-price{
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.button-hover{
 background-color: var(--skyblue);
 color: var(--blue);
 border: 2px solid var(--skyblue);
 border-radius: 10px ;
 padding: 4px 2px;
 font-weight:bold;
 cursor: pointer;
}

.button-hover:hover{
    background-color:transparent;
}

.cart-table{
    width: 100%;
    border-collapse: collapse;
}

.table-head-item{
    text-align: start;
    border-bottom: 1px solid var(--darkgray); /*adiciona a linha da borda embaixo*/
    padding-bottom: 6px;
    text-transform: uppercase;

}

.second-col,
.third-col{
    width: 30%;
}

.cart-product{
    padding: 8px;
}

.product-identification{
    display: flex;
    align-items: center;
}

.cart-product-image{
    width: 120px;
    height: 80px;
}

.cart-product-title{
    margin-left: 15px;

}

.cart-product-price{
    font-family: "Raleway", sans-serif
}

.product-qnt-input{
    width: 45px;
    height: 35px;
    border: 2px solid var(--blue);
    border-radius: 5px;
    background-color: var(--sliver);
    text-align: center;
}

.remove-product-button{
    background-color: var(--red);
    color: var(--white);
    border: 0;
    border-radius: 5px;
    padding: 4px 2px;
    margin-left: 2px;  
}

.remove-product-button:hover{
    filter: brightness(0.8);
}


.cart-total-container{
    border-top: 1px solid var(--darkgray);
    text-align: end;
    padding: 6px 16px 0 0;
}

.cart-total-container strong{
    margin-right: 10px;

}

.purchase-button{
    display: flex;
    padding: 16px 20px;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 6px;
    text-transform: uppercase;
    border: 0;
    font-weight: bold;
    margin: 24px auto 0 ;
}

.purchase-button:hover{
    filter: brightness(0.8);
}

/*Responsividade*/

@media(max-width:725px){
    .footer-container{
    flex-direction: column;
    }
}
    
